div{
    background-color: indianred;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

}
#tablazat{
    float: right;
}
#fel1{
    color: azure;
}
#fel2{
    color: azure;
}
h1{
    text-align: center;
}